.custom-carousel-img {
  width: 900px; /* Ajusta el ancho de la imagen */
  height: 500px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Mantiene el aspecto de la imagen y la recorta si es necesario */
}

.carousel-item {
  text-align: center; /* Centra la imagen en el contenedor */
}
