.custom-carousel-img {
  width: 900px; /* Ajusta el ancho de la imagen */
  height: 500px; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Mantiene el aspecto de la imagen y la recorta si es necesario */
}

.carousel-item {
  text-align: center; /* Centra la imagen en el contenedor */
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background: url('/assets/img/puerto-natales_1.jpg') center / cover no-repeat;
}

.hero-img h1 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
}

.hero-img button {
  padding: 10px 0;
  width: 150px;
  background: transparent;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
}

